[submodule "powershell/module/posh-git"]
	path = powershell/module/posh-git
	url = git@github.com:dahlbyk/posh-git.git
[submodule "powershell/modules/posh-hg"]
  path = powershell/modules/posh-hg
  url = git@github.com:JeremySkinner/posh-hg.git
[submodule "powershell/modules/posh-svn"]
  path = powershell/modules/posh-svn
  url = git@github.com:JeremySkinner/posh-svn.git